<div class="center">

  <div class="card-product">
    <img src="https://cdn-icons-png.flaticon.com/512/3143/3143636.png" />
    <div class="card-product-infos">
      <h2>Your booking confirmation</h2>
      <p>Your start date: <strong><%= @booking.start_time %></strong></p>
      <p>Your end date: <strong><%= @booking.end_time %></strong></p>
      <p>Status: <strong>pending</strong>/done/wip</p>
    </div>
  </div>

  <%#= @fan.name %>
  <%#= @booking.start_date %>

</div>

        <%# <ul> %>
          <%# <% @bookings.each do |booking| %>
            <%# <li> your start_date <%= booking.start_date </li> %>
            <%# <li> your end_date <%= booking.end_date </li> %>
            <%# <li> your status <%= booking.status </li> %>
          <%# <% end %>
        <%# </ul> %>
