<div class="d-flex justify-content-center">
  <h1 class="my-5 text"><%= "Hello #{current_user.email.split("@")[0].capitalize}, welcome to your profile page!"  %></h1>
</div>
<div class="fan-formandbooking-index d-flex mb-4 mx-5">
  <div class="fan-form container py-4">
    <div class="d-flex justify-content-center pb-2">
      <h4 class="pb-3">List a fan!</h4>
    </div>

      <%= simple_form_for(@fan) do |f| %>

        <div class="d-flex justify-content-between">
          <div class="w-50 pe-3">
            <%= f.input :name, placeholder: 'John' %>
          </div>
          <div class="w-50">
            <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'Select nationality' %>
          </div>
        </div>
        <%= f.input :photo, as: :file, label: "Add your fan Image"%>
        <%= f.input :description, placeholder: 'I can chant like no one else...' %>
        <%= f.input :category, collection: Fan::CATEGORY, prompt: 'Select characteristics' %>
        <%= f.input :address, placeholder: '21 Church Street London' %>
        <%= f.input :price, placeholder: '$ 15' %>
        <div class="d-grid gap-2">
          <%= f.button :submit, class:"btn-lonelyfans btn-block" %>
        </div>
      <% end %>
  </div>

  <div class="mx-3 d-block" style="w-40%" id="wholeindexlist">

    <% if @future_bookings.present? == false && @past_bookings.present? ==false %>
      <div>
        <h2 class="mt-5 mr-5" id="nobookingsh2"><%= "You haven't made any bookings yet" %></h2><br>
        <p class="plus mx-auto"><%= link_to "+", fans_path  %></p>
      </div>
      </div>
    <% end %>


    <% if @future_bookings.present? == true %>
      <h3>Upcoming Bookings</h3>
    <% end %>

  <% if @future_bookings != nil %>
  <% @future_bookings.each do |booking| %>
    <section class="current-bookings">
            <section class="bcard mx-auto">
              <div class="bookin-card">
                <%= cl_image_tag @future_bookings.first.fan.photo.key, class:"bookin-card-img", crop: :fill %>
                <%# <img class="bookin-card-img" style="width:30%;" src="https://www.billboard.com/wp-content/uploads/2022/11/02-Oliver-Tree-billboard-Jimmy-Fontaine-1548.jpg?w=942&h=623&crop=1"/> %>
                  <div class="bookin-card-infos">
                    <h3><%= booking.fan.name %></h3>
                    <div class="d-flex ">
                      <div class="infobox">
                        <p>Starts on: <%= booking.start_time  %></p>
                        <p>Ends on: <%= booking.end_time %></p>
                      </div>
                      <div class="infobox">
                        <p style="padding-left: 10px;"><%= booking.fan.nationality %></p>
                        <p>At: <%= booking.fan.address %></p>
                      </div>
                    </div>
                  </div>
            </div>
          <% end %>
  <% end %>

    <% if @past_bookings.present? == true %>
      <h3>Past Bookings</h3>
    <% end %>

<section class="bcard">

  <% if @future_bookings != nil %>
    <% @past_bookings.each do |booking| %>
            <div class="bookin-card prev-bookin-card">
              <%= cl_image_tag booking.fan.photo.key, class:"prev-bookin-card-img", crop: :fill %>
                <div class="bookin-card-infos">
                  <h3><%= booking.fan.name %></h3>

                  <div class="d-flex ">
                    <div class="infobox">
                      <p>Starts on: <%= booking.start_time  %></p>
                      <p>Ends on: <%= booking.end_time %></p>

                    </div>
                    <div class="prev-infobox">
                      <p style="padding-left: 15px;"><%= booking.fan.nationality %></p>
                      <p>At: <%= booking.fan.address %></p>
                    </div>
                      <h6 class="review-tag"><%= link_to "Write review", to: "#" %></h6>
                      <%# <i class="fa-solid fa-trash trash"></i> %>
                      <i style="margin-left: 10%; margin-top:3%;"><%= link_to "", profile_path, class: "fa-solid fa-trash trash" %></i>
                  </div>
                </div>
            </div>
   <% end %>
<% end %>
    </div>
</div>
