<h2 class="my-5">User Profile</h2>
<div class="fan-formandbooking-index mb-5 mx-5">
  <div class="fan-form container">
    <h4>List yourself as a fan</h4>
      <%= simple_form_for(@fan) do |f| %>
        <div class="d-flex">
          <%= f.input :name %>
          <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'select nationality' %>
        </div>
        <%= f.input :photo, as: :file, label: "Add your fan Image"%>
        <%= f.input :description %>
        <%= f.input :category, collection: Fan::CATEGORY, prompt: 'select characteristics' %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.submit %>
      <% end %>
  </div>


  <container1 class="mx-5 d-block" style="w-40%" id="wholeindexlist">

    <% if @future_bookings.empty? %>
      <div>
        <h2 class="mt-5 mr-5" id="nobookingsh2"><%= "You haven't made any bookings yet" %></h2><br>
        <p class="plus mx-auto"><%= link_to "+", fans_path  %></p>
      </div>
      </div>
    <% end %>

    <% if @future_bookings.empty? == false %>
      <h3>Upcoming Bookings</h3x  >
    <% end %>

  <% @future_bookings.each do |booking| %>
    <section class="current-bookings">
            <section class="bcard mx-auto">
              <div class="bookin-card">
                <%= cl_image_tag @future_bookings.first.fan.photo.key, class:"bookin-card-img", crop: :fill %>
                <%# <img class="bookin-card-img" style="width:30%;" src="https://www.billboard.com/wp-content/uploads/2022/11/02-Oliver-Tree-billboard-Jimmy-Fontaine-1548.jpg?w=942&h=623&crop=1"/> %>
                  <div class="bookin-card-infos">
                    <h3><%= booking.fan.name %></h3>
                    <div class="d-flex ">
                      <div class="infobox">
                        <p>Starts on: <%= booking.start_date  %></p>
                        <p>Ends on: <%= booking.end_date %></p>
                      </div>
                      <div class="infobox">
                        <p style="padding-left: 15px;"><%= booking.fan.nationality %></p>
                        <p>At: <%= booking.fan.address %></p>
                      </div>
                    </div>
                  </div>
            </div>
          <% end %>

    <% if @past_bookings.empty? == false %>
      <h3>Past Bookings</h3>
    <% end %>

<section class="bcard">
    <% @past_bookings.each do |booking| %>
            <div class="bookin-card prev-bookin-card">
              <%= cl_image_tag booking.fan.photo.key, class:"prev-bookin-card-img", crop: :fill %>
                <div class="bookin-card-infos">
                  <h3><%= booking.fan.name %></h3>
                  <div class="d-flex">
                    <div class="infobox hovertrash">
                      <p>Started on: <%= booking.start_date  %></p>
                      <p>Ended on: <%= booking.end_date %></p>
                    </div>
                    <div class="infobox">
                      <p style="padding-left: 15px;"><%= booking.fan.nationality %></p>
                      <p>At: <%= booking.fan.address %></p>
                    </div>
                    <div class="hovertrash">
                      <h6 class="review-tag"><%= link_to "Write review", to: "#" %></h6>
                      <%# <i class="fa-solid fa-trash trash"></i> %>
                      <i><%= link_to "", profile_path, data: { turbo_method: :delete, turbo_confirm: "U sure?!" }, class: "fa-solid fa-trash trash" %></i>
                    </div>
                  </div>
                </div>
            </div>
   <% end %>

    </div>
 </container1>
