<h2 class="ml-5 mt-2">User Profil</h2>
<div class="fan-formandbooking-index d-flex mb-5">
  <div class="fan-form container w-25">
  <h4>List yourself as a fan</h4>
    <%= simple_form_for(@fan) do |f| %>
      <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'select nationality' %>
      <%= f.input :name %>
      <%= f.input :image_url, label: "Add your fan Image"%>
      <%= f.input :description %>
      <%= f.input :category, collection: Fan::CATEGORY %>
      <%= f.input :price %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="booking-index w-50">
    <div class="user-info">
      <h4><%= current_user.username %></h4>
    </div>

    <%# <div class="cards">
    <% @lists.each do |list| %>
      <%# <% if list.photo.attached? %>
        <%# <div class="card-category" %>
      <%# style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')"> %>
      <%# <% else %> %>
        <%# <div class="card-category" %>
      <%# style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path "92n7t0nwjsbekuy4d65td53129r3", height: 300, crop: :fill %>')"> %>
      <%# <% end %> %>
          <%# <%= link_to list.name, list_path(list), class:"text-light" %> %>
          <%# <%= link_to "Delete", list_path(list), %>
          <%# data: { turbo_method: :delete, turbo_confirm: "U sure?!" }, class:"btn btn-outline-dark m-3" %> %>
        <%# </div> %>
    <%# <% end %> %> %> %>

  <h4>Booking#index</h4>
  <% @bookings.each do |booking| %>
    <div class="bookin-card">
      <%= booking.start_date %>
      <%= booking.start_date %>
      <%= booking.user_id %>
      <%= booking.fan_id %>
    </div>
  <% end %>
  </div>
</div>
