<h2 class="ml-5 mt-2">User Profil</h2>

<div class="fan-formandbooking-index d-flex mb-5">
  <div class="fan-form container w-25">
    <h4>List yourself as a fan</h4>
      <%= simple_form_for(@fan) do |f| %>
        <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'select nationality' %>
        <%= f.input :name %>
        <%= f.input :image_url, label: "Add your fan Image"%>
        <%= f.input :description %>
        <%= f.input :category, collection: Fan::CATEGORY, prompt: 'select characteristics' %>
        <%= f.input :price %>
        <%= f.submit %>
      <% end %>
  </div>

  <%# <div class="booking-index w-50">
    <div class="user-info">
    </div> %>

  <h4>Your bookings</h4>
    <% if @bookings.empty? %>
      <h2><%= "You haven't made any bookings yet" %></h2>
    <% else %>
      <% @bookings.each do |booking| %>
        <div class="bookin-card">
          <img class="bookin-card-img" style="width:30%;" src="https://www.billboard.com/wp-content/uploads/2022/11/02-Oliver-Tree-billboard-Jimmy-Fontaine-1548.jpg?w=942&h=623&crop=1"/>
            <div class="bookin-card-infos">
              <h3><%= booking.fan.name %></h3>
              <div>
                <p>Starts on:<%= booking.start_date  %></p>
                <p>Ends on:<%= booking.end_date %></p>
              </div>
              <div>
                <p><%= booking.fan.nationality %></p>
                <p>At: <%= booking.fan.address %></p>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

<style>
.bookin-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 600px;
  background-color: aqua;
}
.bookin-card-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.bookin-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.bookin-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.bookin-card .bookin-card-infos {
  padding: 16px;
}
</style>
