<div class="d-flex justify-content-center">
  <h1 class="my-5 text"><%= "Hello #{current_user.email.split("@")[0].capitalize}, welcome to your profile page!"  %></h1>
</div>
<div class="fan-formandbooking-index d-flex mb-4 mx-4">
  <div class="fan-form container py-4">
    <div class="d-flex justify-content-center pb-2">
      <h4 class="pb-3">List a fan!</h4>
    </div>
      <%= simple_form_for(@fan) do |f| %>

        <div class="d-flex justify-content-between">
          <div class="w-50 pe-3">
            <%= f.input :name, placeholder: 'John' %>
          </div>
          <div class="w-50">
            <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'Select nationality' %>
          </div>
        </div>
        <%= f.input :photo, as: :file, label: "Add your fan Image"%>
        <%= f.input :description, placeholder: 'I can chant like no one else...' %>
        <%= f.input :category, collection: Fan::CATEGORY, prompt: 'Select characteristics' %>
        <%= f.input :address, placeholder: '21 Church Street London' %>
        <%= f.input :price, placeholder: '$ 15' %>
        <div class="d-grid gap-2">
          <%= f.button :submit, class:"btn-lonelyfans btn-block" %>
        </div>

        <div class="d-flex">
          <%= f.input :name %>
          <%= f.input :nationality, collection: Fan::NATIONS, prompt: 'Select Nationality' %>
        </div>
        <%= f.input :photo, as: :file, label: "Add your fan Image"%>
        <%= f.input :description %>
        <%= f.input :category, collection: Fan::CATEGORY, prompt: 'Select Characteristics' %>
        <%= f.input :address %>
        <%= f.input :price %>
        <%= f.submit %>

      <% end %>
  </div>

    <% if @bookings.empty? %>
      <div class="bookings-container">
        <h2 class="" id="nobookingsh2"><%= "You haven't made any bookings yet" %></h2><br>
        <p class="plus mx-auto"><%= link_to "+", fans_path  %></p>
      </div>
      </div>
    <% end %>

      <section id="wholeindexlist">
        <h4 class="text-center mb-5 mt-2">Your bookings</h4>
          <% @bookings.each do |booking| %>
              <section>
            <% if booking.end_date > Date.today %>
                <div class="bookin-card">
                  <img class="bookin-card-img" style="width:30%;" src="https://www.billboard.com/wp-content/uploads/2022/11/02-Oliver-Tree-billboard-Jimmy-Fontaine-1548.jpg?w=942&h=623&crop=1"/>
                    <div class="bookin-card-infos">
                      <h3><%= booking.fan.name.capitalize %></h3>
                      <div class="d-flex ">
                        <div class="infobox">
                          <p>Starts on: <%= booking.start_date  %></p>
                          <p>Ends on: <%= booking.end_date %></p>
                        </div>
                        <div class="infobox">
                          <p style="padding-left: 15px;"><%= booking.fan.nationality %></p>
                          <p>At: <%= booking.fan.address %></p>
                        </div>
                      </div>
                    </div>
              </div>
          <% elsif (booking.end_date > Date.today) == 0 %>
            <h2>You have no bookings coming up</h2>
          <% else %>
          <p></p>
        <% end %>

        <% if booking.end_date < Date.today %>
          <h5 class="mt-4">Previews bookings</h5>
            <div class="bookin-card prev-bookin-card">
              <img class="prev-bookin-card-img"src="https://media.cnn.com/api/v1/images/stellar/prod/160617095325-01-eurocup-irish-fans.jpg?q=x_5,y_317,h_2546,w_4524,c_crop/h_720,w_1280"/>
                <div class="bookin-card-infos">
                  <h3><%= booking.fan.name %></h3>
                  <div class="d-flex ">
                    <div class="infobox">
                      <p>Starts on: <%= booking.start_date  %></p>
                      <p>Ends on: <%= booking.end_date %></p>
                    </div>
                    <div class="infobox">
                      <p style="padding-left: 15px;"><%= booking.fan.nationality %></p>
                      <p>At: <%= booking.fan.address %></p>
                    </div>
                    <h6 class="review-tag"><%= link_to "Write review", to: "#" %></h6>
                  </div>
                </div>
            </div>
        <% elsif (booking.end_date < Date.today) == 0 %>
          <h2>You have no old bookings</h2>
        <% else %>
          <p></p>
        <% end %>
      </section>
      <% end %>
      </section>
  </div>
