<div class="container m-2 d-flex justify-content-center">
  <%= link_to 'All', fans_path, class:"m-4" %>
  <%= link_to "Loud", loud_path, class:"m-4"  %>
  <%= link_to "Violent", violent_path, class:"m-4"  %>
  <%= link_to "Supportive", supportive_path, class:"m-4"  %>
  <%= link_to "Serious", serious_path, class:"m-4"  %>
  <%= link_to "Settled", settled_path, class:"m-4"  %>
  <%= link_to "Good behaviour", goodbehaviour_path, class:"m-4"  %>
  <%= link_to "Drunk", drunk_path, class:"m-4"  %>
</div>
