<div class="d-flex align-items-center">
  <div class="cards">
    <div class="card" style="width: 30rem;">
      <img src="https://res.cloudinary.com/ddlep0dr3/image/upload/v1669127561/fun_lads_bxvtab.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><%= @fan.description %></p>
        <p class="card-text">$ <%= @fan.price %> per hour</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6">
    <h2>Book this fan!</h2>
    <%= simple_form_for ([@fan, @booking]) do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.button :submit, class:"btn btn-outline-dark m-3" %>
    <% end %>
  </div>
</div>
