<div class="container d-flex justify-items-center p-4">
  <div class="me-5 ms-3 card-img">
    <div style="width: 30rem;">
      <%= cl_image_tag @fan.photo.key, class:"card-img-top", crop: :fill %>
      <div>
        <h5 class="card-text pb-2"><%= @fan.name.capitalize %></h5>
        <span class="badge rounded-pill bg-success"><%= @fan.category %></span>
        <p class="card-text pt-2"><%= @fan.description %></p>
        <p class="card-text">$ <%= @fan.price %> per hour</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6">
    <h2>Book this fan!</h2>
    <%= simple_form_for ([@fan, @booking]), data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :start_time, as: :string, :label => "Start Date", input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_time, as: :string, :label => "End Date", input_html: { data: { flatpickr_target: "endTime" } } %>
      <%= f.button :submit, class:"btn btn-outline-dark m-3" %>
        <% unless user_signed_in? %>
          <%= link_to "Log in", new_user_session_path, class:"btn-lonelyfans" %>
          <p>To be able to book a fan, you need to have an account</p>
        <% end %>
    <% end %>
  </div>
</div>
